name: CI

on:
  pull_request:
    branches: [main]
    paths-ignore: ["*.md"]

  push:
    branches:
      - "renovate/**"

# Prevent duplicate runs if Renovate falls back to creating a PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

# We are using OpenID Connect to authenticate with Azure with secret.
# https://docs.github.com/en/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-azure
permissions:
  id-token: write
  contents: read

jobs:
  main:
    # We need windows to use nuget
    runs-on: [idp]
    environment: ci
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Azure Artifacts Authenticate
        uses: workleap/wl-reusable-workflows/az-artifact-authenticate@main
        with:
          feed-url: ${{ vars.GSOFTDEV_NUGET_SOURCE }}
          variables: ${{ toJSON(vars) }}

      - run: ./Build.ps1
        shell: pwsh
        env:
          NUGET_SOURCE: ${{ vars.GSOFTDEV_NUGET_SOURCE }}

      - name: Upload NuGet package
        uses: actions/upload-artifact@v7
        if: always()
        with:
          name: nuget-package
          path: .output/**/*
          include-hidden-files: true
          if-no-files-found: error

  linearb:
    needs: [main]
    uses: workleap/wl-reusable-workflows/.github/workflows/linearb-deployment.yml@main
    with:
      environment: development
      cortexEntityIdOrTag: service-wl-dotnet-codingstandards
    permissions:
      id-token: write
      contents: read
