name: Publish

on:
  push:
    branches: [main]
    tags: ["*.*.*"]
    paths-ignore: ["*.md"]

# We are using OpenID Connect to authenticate with Azure with secret.
# https://docs.github.com/en/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-azure
permissions:
  id-token: write
  contents: read

jobs:
  main:
    # We need windows to use nuget
    runs-on: [idp]
    environment: ci

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get nuget-org-workleap-api-key
        id: get_nuget_org_workleap_api_key_secret
        uses: workleap/wl-reusable-workflows/retrieve-managed-secret@main
        with:
          azure-client-id: ${{ vars.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ vars.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          keyvault-name: ${{ vars.IDP_CICD_KEYVAULT_NAME }}
          secret-name: "nuget-org-workleap-api-key"

      - uses: actions/setup-dotnet@v4

      - name: Install Mono
        shell: bash
        run: |
          apt-get update
          apt-get install -y mono-complete

      - uses: NuGet/setup-nuget@v2

      - run: ./Build.ps1
        shell: pwsh
        env:
          NUGET_SOURCE: ${{ vars.NUGET_SOURCE }}
          NUGET_API_KEY: ${{ steps.get_nuget_org_workleap_api_key_secret.outputs.secret }}

  linearb:
    needs: [main]
    uses: workleap/wl-reusable-workflows/.github/workflows/linearb-deployment.yml@main
    with:
      environment: 'release'
      cortexEntityIdOrTag: service-wl-dotnet-codingstandards
    permissions:
      id-token: write
      contents: read
